body{
  background-color: aliceblue;
}


.register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
    min-height: 100vh;
    padding: 20px;  
}




.card-register{
  z-index: 3;
  width: 100%;
  max-width: 350px;
  min-height: 350px;
  
   border: 3px solid navy;
  background-color:black;
  padding:20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  align-items: stretch;
  margin: auto;
}

.card-register h2, label{
color: rgba(245, 245, 245, 0.808) 
}


.card-register input {
  width: 100%;
  border-radius: 10px;
  
  padding-left: 10px;
  margin-top: 10px;
}

.card-register button{
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: none;
   background: steelblue;
  font-size: 1rem;
  cursor: pointer;
}
.card-register button:hover{
  background-color: rgb(48, 138, 211);
  

}